<section class="linear-background h-screen flex flex-col items-center justify-center">
  <div class="flex items-center self-start ml-5 text-white">
    <h1 class="uppercase font-semibold text-4xl">Registracija</h1>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor"
         stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"/>
    </svg>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="p-8">
    <div *ngIf="wizard['step_one']" class="flex flex-col gap-3" [@enter]>
      <div class="flex flex-col">
        <label class="text-white" for="username">Slapyvardis</label>
        <input id="username" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
               [ngClass]="getErrorClasses('username')" type="text" formControlName="username">
        <p *ngIf="registerForm.get('username').getError('notUnique')" class="text-red-500 pt-1">Slapyvardis užimtas</p>
      </div>
      <div class="flex flex-col" >
        <label for="password" class="text-white">Slaptažodis</label>
        <input id="password" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="password"
               formControlName="password" [ngClass]="getErrorClasses('password')">
      </div>
      <div class="flex gap-2">
        <button type="button"
                class="text-sm rounded text-white bg-primary-500 px-3 py-2 disabled:bg-secondary-200"
                [disabled]="arePropertiesInvalid('username', 'password')"
                (click)="next('step_one', 'step_two')"
        >
          Toliau
        </button>
        <button type="button" class="text-sm rounded text-white px-3 py-2" routerLink="">Atšaukti
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-3" *ngIf="wizard['step_two']" [@enter]>
      <div class="flex flex-col">
        <label for="gender" class="text-white">Lytis</label>
        <select id="gender" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="text"
                formControlName="gender" [ngClass]="getErrorClasses('gender')">
          <option [ngValue]="'Moteris'">Moteris</option>
          <option [ngValue]="'Vyras'">Vyras</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="age" class="text-white">Amžius</label>
        <input id="age" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="number"
               formControlName="age" [ngClass]="getErrorClasses('age')">
      </div>
      <div class="flex gap-2">
        <button type="button"
                class="text-sm rounded text-white bg-primary-500 px-3 py-2 disabled:bg-secondary-200"
                [disabled]="arePropertiesInvalid('gender', 'age')" (click)="next('step_two', 'step_three')">Toliau
        </button>
        <button type="button" class="text-sm rounded text-white px-3 py-2" routerLink="">Atšaukti
        </button>
      </div>
    </div>
    <div *ngIf="wizard['step_three']" [@enter]>
      <div class="flex gap-3">
        <div class="flex flex-col w-1/2">
          <div class="flex flex-col">
            <label for="height" class="text-white">Ūgis</label>
            <input id="height" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
                   placeholder="Ūgis (cm)" type="number" formControlName="height"
                   [ngClass]="getErrorClasses('height')">
          </div>
          <div class="flex flex-col">
            <label for="weight" class="text-white">Svoris</label>
            <input id="weight" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
                   placeholder="Svoris (kg)" type="number" formControlName="weight"
                   [ngClass]="getErrorClasses('weight')">
          </div>
        </div>
        <div class="flex flex-col w-1/2">
          <div class="flex flex-col">
            <label for="activity" class="text-white">Aktyvumas</label>
            <select id="activity" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="text"
                    formControlName="activity" [ngClass]="getErrorClasses('activity')">
              <option *ngFor="let activity of activities" [value]="activity.value">{{activity.text}}</option>
            </select>
          </div>
          <div class="flex flex-col">
            <label for="goal" class="text-white">Tikslas</label>
            <select id="goal" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="text"
                    formControlName="goal" [ngClass]="getErrorClasses('goal')" #goal>
              <option *ngFor="let goal of goals" [value]="goal.value">{{goal.text}}</option>
            </select>
          </div>
          <div class="flex flex-col" *ngIf="goal.value !== 'maintain' && goal.value">
            <label for="goalNum" class="text-white">Kiekis kg</label>
            <input id="goalNum" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
                   placeholder="kilogramais" type="number" formControlName="goalNum"
                   [ngClass]="getErrorClasses('goalNum')">
          </div>
        </div>
      </div>
      <div class="flex gap-2 pt-3">
        <button type="submit"
                class="text-sm rounded text-white bg-primary-500 px-3 py-2 disabled:bg-secondary-200"
                [disabled]="registerForm.invalid">Pirmyn
        </button>
        <button type="button" class="text-sm rounded text-white px-3 py-2" routerLink="">Atšaukti
        </button>
      </div>
    </div>
  </form>
</section>
