<nav class="p-4  flex-col md:flex md:flex-row md:justify-between">
  <div class="flex flex-col md:flex-row md:items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor"
         stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"/>
      <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"/>
    </svg>
    <h1 class="text-md font-normal hidden md:block">
      Kalorijų Skaičiuoklė
    </h1>
    <button routerLink="/paieska" class="border-secondary-200 border-2 text-md rounded px-3 py-2 md:px-2 md:py-1 hover:bg-primary-500 hover:text-white" *ngIf="(userState$ | async).current.isAuthenticated">Paieška</button>
    <button routerLink="/apzvalga" class="border-secondary-200 border-2 text-md rounded px-3 py-2 md:px-2 md:py-1 hover:bg-primary-500 hover:text-white" *ngIf="(userState$ | async).current.isAuthenticated">Apžvalga</button>
  </div>
  <div class="flex flex-col md:items-center md:flex-row gap-2" *ngIf="(userState$ | async).current.isAuthenticated">
    <button class="flex mx-auto p-2 md:p-0" routerLink="/vartotojas">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
           stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
      </svg>
      {{(userState$ | async).current.username}}
    </button>
    <button class="border-secondary-200 border-2 text-md rounded px-3 py-2 md:px-2 md:py-1 hover:bg-primary-500 hover:text-white" (click)="logout()">Atsijungti</button>
  </div>
</nav>
