:host{
  min-height: calc(100vh - 24px);
}
.linear-background {
  background: rgb(158, 158, 158);
  background: linear-gradient(90deg, rgba(158, 158, 158, 1) 0%, rgba(76, 175, 80, 0.5) 100%);
  background-size: 200% 200%;
  animation: Animation 5s ease infinite;
}

@keyframes Animation {
  0% {
    background-position: 10% 0%
  }
  50% {
    background-position: 91% 100%
  }
  100% {
    background-position: 10% 0%
  }
}
