  <section class="flex flex-col gap-2 text-center">
    <h1 class="font-semibold text-2xl text-center">Informacija:</h1>
    <p class="text-md font-semibold">Ūgis: <span class="font-normal"> {{user.height}}</span></p>
    <p class="text-md font-semibold">Svoris:<span class="font-normal"> {{user.weight}}</span></p>
    <p class="text-md font-semibold">Amžius:<span class="font-normal"> {{user.age}}</span></p>
    <p class="text-md font-semibold">Aktyvumas:<span class="font-normal"> {{ACTIVITY_FACTOR[user.activity]}}</span></p>
    <ng-container [ngSwitch]="user.goal">
      <p class="text-md font-semibold" *ngSwitchCase="'maintain'">Tikslas:<span
        class="font-normal">{{GOALS[user.goal]}}</span>
      </p>
      <p class="text-md font-semibold" *ngSwitchDefault>Tikslas:<span
        class="font-normal"> {{GOALS[user.goal]}} {{user.goalNum}} (kg)</span>
      </p>
    </ng-container>
    <p class="text-md font-semibold">Dabartinis dienos tikslas:<span class="font-normal"> {{user.calories}}</span></p>
  </section>
