<form [formGroup]="addProductForm" (ngSubmit)="submitForm()">
  <div class="flex flex-col">
    <label for="addProductName" class="text-black text-left">Pavadinimas</label>
    <input id="addProductName" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('name')" type="text" formControlName="name">
  </div>
  <div class="flex flex-col">
    <label for="addProductCategory" class="text-black text-left">Kategorija</label>
    <select id="addProductCategory" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="text"
            formControlName="category" [ngClass]="getErrorClasses('category')">
      <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
    </select>
  </div>
  <div class="flex flex-col">
    <label for="addProductIsMeal" class="text-black text-left">Ar receptas?</label>
    <select id="addProductIsMeal" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="text"
            formControlName="isMeal" [ngClass]="getErrorClasses('isMeal')">
      <option [ngValue]="true">Taip</option>
      <option [ngValue]="false">Ne</option>
    </select>
  </div>
  <div class="flex flex-col" *ngIf="!isMeal.value">
    <label for="addProductMeasurement" class="text-black text-left">Svorio mato vienetas</label>
    <select id="addProductMeasurement" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md" type="text"
            formControlName="measurement" [ngClass]="getErrorClasses('measurement')">
      <option *ngFor="let measurement of measurements" [value]="measurement['value']">{{measurement['text']}}</option>
    </select>
  </div>
  <div class="flex flex-col" *ngIf="measurement.value === 'unit'">
    <label for="addProductMeasurementByUnit" class="text-black text-left">Vieneto svoris gramais</label>
    <input id="addProductMeasurementByUnit" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('measurementByUnit')" type="number" formControlName="measurementByUnit">
  </div>
  <div class="flex flex-col" *ngIf="isMeal.value">
    <label for="addProductProducts" class="text-black text-left">Pasirinkite ingridientus</label>
    <calorie-app-search-bar id="addProductProducts" [products]="products" (productChangeEvent)="productChange($event)"></calorie-app-search-bar>
  </div>
  <div class="flex flex-col" *ngIf="isMeal.value">
    <label for="addProductMealPortionSize" class="text-black text-left">Porcijos dydis gramais</label>
    <input id="addProductMealPortionSize"  class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('mealPortionSize')" type="number" formControlName="mealPortionSize">
  </div>
  <div *ngIf="selectedProducts.length">
    <calorie-app-select-product-list [selectedProducts]="selectedProducts" [products]="products" (removeItemEvent)="removeItem($event)" (quantityChangeEvent)="productQuantityChange($event)"></calorie-app-select-product-list>
  </div>
  <div class="flex flex-col">
    <label for="addProductCalories" class="text-black text-left">Kalorijų kiekis</label>
    <input id="addProductCalories" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('calories')" type="number" formControlName="calories">
  </div>
  <div class="flex flex-col">
    <label for="addProductProteins" class="text-black text-left">Baltymų kiekis</label>
    <input id="addProductProteins" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('proteins')" type="number" formControlName="proteins">
  </div>
  <div class="flex flex-col">
    <label for="addProductCarbs" class="text-black text-left">Angliavandenių kiekis</label>
    <input id="addProductCarbs" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('carbs')" type="number" formControlName="carbs">
  </div>
  <div class="flex flex-col">
    <label for="addProductFats" class="text-black text-left">Riebalų kiekis</label>
    <input id="addProductFats" class="border-2 text-black py-1 px-4 focus:outline-secondary-500 rounded-md"
           [ngClass]="getErrorClasses('fats')" type="number" formControlName="fats">
  </div>
  <button
    type="submit"
    class="rounded-md bg-primary-500 hover:bg-secondary-500 px-3 py-2 disabled:bg-secondary-500 mt-2"
     [disabled]="addProductForm.invalid">Patvirtinti
  </button>
</form>
