<div class="bg-white grid md:grid-cols-2 sm:grid-cols-1 gap-2 p-4">
  <div *ngFor="let product of selectedProducts; index as i;trackBy: trackByIndex"
       class="flex flex-col md:flex-row justify-start md:justify-between my-0 p-4 md:my-2 md:p-2 border-primary-100 border-2">
    <div class="flex md:flex-col items-center md:items-start justify-center">
      <div class="flex gap-2">
        <h4 class="text-lg text-black font-semibold">{{product.productName}}</h4>
        <select type="text"
                [(ngModel)]="product.quantity.selected" (change)="quantityChange(product)">
          <option [ngValue]="'gram'">Gramai</option>
          <option [ngValue]="'unit'" *ngIf="product.quantity.hasUnits">Vnt</option>
        </select>
      </div>
      <div>
        <input
          *ngIf="product.quantity.selected==='gram'"
          [min]=1
          [max]=1000
          [pattern]="'/(,*[\d]+,*[\d]*)+/'"
          type="number"
          placeholder="Kiekis gramais.."
          [value]="product.quantity.selected === 'gram'?100:1"
          [(ngModel)]="product.quantity.grams"
          (change)="quantityChange(product)"
        >
        <select
          *ngIf="product.quantity.selected==='unit'"
          type="text"
          [(ngModel)]="product.quantity.units"
          (change)="quantityChange(product)"
        >
          <option [ngValue]="1">1</option>
          <option *ngFor="let unit of [2,3,4,5,6,7,8,9,10]" [ngValue]="unit">{{unit}}</option>
        </select>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 items-center justify-center">
      <calorie-app-totals-row [totals]="product.nutrients" [size]="'sm'" class="p-4 md:p-0"></calorie-app-totals-row>
      <div class="border-none md:border-l-2 border-primary-500 flex items-center justify-center">
        <button type="button"
                class="text-sm rounded-lg text-white bg-secondary-500 hover:bg-primary-500 md:px-3 md:py-2 md:m-4 p-1 m-0"
                (click)="removeItem(i)">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
               stroke="currentColor"
               stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
