<section class="p-6 w-full">
  <div class="flex flex-col md:flex-row items-center justify-between py-4" [@enter]>
    <calorie-app-calorie-count-block
      [title]="'Receptų ir produktų paieška'"
      [user]="(userState$ | async).current"
      [products]="(userState$ | async).products"
      [totals]="totals"
    >
    </calorie-app-calorie-count-block>
    <div class="flex flex-col md:flex-row gap-6">
      <calorie-app-pie
        [chartSize]="pieChartSize"
        [chartData]="chartData | async"
        [chartOptions]="chartOptions">
      </calorie-app-pie>
      <calorie-app-totals-row [totals]="totals" [size]="'md'"></calorie-app-totals-row>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-2">
    <calorie-app-search-bar
      class="w-full md:w-10/12"
      [products]="products"
      (productChangeEvent)="productChange($event)">
    </calorie-app-search-bar>
    <button (click)="enterProducts()"
            class="w-full md:w-2/12 rounded-md bg-secondary-500 hover:bg-primary-500 px-2 py-1">
      Išsaugoti
    </button>
  </div>
  <calorie-app-select-product-list
    [@enter]
    [products]="products"
    [selectedProducts]="selectedProducts"
    (quantityChangeEvent)="quantityChange($event)"
    (removeItemEvent)="removeItem($event)"></calorie-app-select-product-list>
</section>
